---
Checks: '*,-altera-*,-fuchsia-*,-zircon-*,-llvmlibc-*,-llvm-header-guard,-cppcoreguidelines-missing-std-forward,-misc-const-correctness'
WarningsAsErrors: '*'
HeaderFilterRegex: 'dlgr.*'
FormatStyle:     none
